<h1 class="cn"> Все новости </h1>
<ul class="list-group">
<% @posts.reverse.each do |p| %>
<li class="list-group-item">
	<h4><%= p.name %> | <%= link_to "Читать", post_path(p) %><br> </h4> 
</li>
<%end%>